@model NaviGate.Web.Models.Container

@{
    ViewData["Title"] = "Konteyner Detayları";
}

<h1>@ViewData["Title"]</h1>
<h4>Konteyner No: @Model.ContainerNumber</h4>


<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContainerNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContainerNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContainerType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContainerType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SealNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SealNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrossWeightKg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrossWeightKg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PackageQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PackageQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shipment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shipment.ReferenceNumber)
        </dd>
    </dl>
</div>
<div class="mt-4">
    <a asp-action="Edit" asp-route-id="@Model.ContainerId" class="btn btn-primary">Düzenle</a>
    <a asp-action="Index" class="btn btn-secondary">Listeye Geri Dön</a>
</div>
