@model NaviGate.Web.Models.Port

@{
    ViewData["Title"] = "Liman Detayları";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PortName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PortName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PortCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PortCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
    </dl>
</div>
<div class="mt-4">
    @* Düzenle linkini SADECE Admin görebilir *@
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.PortId" class="btn btn-primary">Düzenle</a>
    }
    <a asp-action="Index" class="btn btn-secondary">Listeye Geri Dön</a>
</div>

