@model NaviGate.Web.Models.AiAlert

@{
    ViewData["Title"] = "Uyarıyı Sil";
}

<h1>@ViewData["Title"]</h1>

<h3 class="text-danger">Bu uyarıyı kalıcı olarak silmek istediğinizden emin misiniz?</h3>
<div>
    <h4>AI Uyarısı</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.AlertType)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.AlertType)
        </dd>
        <dt class="col-sm-3">
            İlgili Sevkiyat
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Shipment.ReferenceNumber)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CreatedAtUtc)
        </dt>
        <dd class="col-sm-9">
            @Model.CreatedAtUtc.ToLocalTime().ToString("g")
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="AiAlertId" />
        <input type="submit" value="Sil" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-secondary">Listeye Dön</a>
    </form>
</div>
